    @import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');

:root{
     --cor-primaria: #3C6255;
     --cor-secundaria: #000000;
     --cor-terciaria: #EDDBC0;
     --cor-hover:#EAE7B1;

     --fonte-primaria: 'krona one', sans-serif;
     --font-secundaria: 'monserrat', sans-serif;

}


*{
    margin: 0;
    padding: 0;
}


body{
    /* height: 100vh; */
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: vart(--cor-secundaria); 
}
.cabecalho{
    padding: 2% 0% 0% 15%;

}

.cabecalho__menu {
   display: flex;
    gap: 80px;
}
.cabecalho__menu__link{
    font-family: var(--font-secundaria);
    font-size: 1,5rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;

}
.titulo-destaque{
    color: var(--cor-terciaria); ;
}
.apresentacao{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8% 15%;
    gap: 82px;
}
.apresentacao__conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.apresentaçao__conteudo__titulo{
    font-size: 2,25rem;
    font-family: var(--fonte-primaria);
    color: var(--cor-secundaria);
}
.apresentaçao__conteudo__texto{
    font-size: 24px;
    font-family: var(--font-secundaria);
    color: var(--cor-secundaria);
}
.apresentacao__imagem{
    width: 50%;
    height: 300px; 
}
.apresentacao__links{
    display: flex;
    flex-direction:column ;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}
.apresentacao__links__subtitulo{
   font-family:var(--font-secundaria);
   font-weight: 400;
   font-size: 1,5rem;

}
.apresentacao__links__navegacao{
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1,5rem;
    font-weight: 600;
    padding:20.5px 0; 
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--font-secundaria);
    border: 2px solid var(--cor-terciaria);
}
.imagens_links{
    width: 25px;
    height: 25px;
}
.apresentacao__links__link:hover{
    background-color: var(--cor-hover);
}
.rodape{
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    padding: 20px;
   text-align: center;
   font-family: var(--font-secundaria);
}
.apresentacao__conteudo__texto a{
    text-decoration: none;
    color:var(--cor-terciaria);
}
@media (max-width:1200px) {
    .cabecalho{
        padding: 10%;
    }
    .cabecalho__menu{
        justify-content: center;
    }
    
    .apresentacao{
        flex-direction: column-reverse;
        padding: 5%;
    }
    .apresentacao__conteudo{
        width: auto;
    }
}